on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Create env file
        run: echo -e "${{ secrets.PHONE_STORE_FE_ENV }}" > .env.production

      - name: Build Docker image
        run: |
          docker build \
          --build-arg VITE_BACKEND_URL=$(grep VITE_BACKEND_URL .env.production | cut -d '=' -f2) \
          --build-arg VITE_GOOGLE_CLIENT_ID=$(grep VITE_GOOGLE_CLIENT_ID .env.production | cut -d '=' -f2) \
          --build-arg VITE_GOOGLE_REDIRECT_URI=$(grep VITE_GOOGLE_REDIRECT_URI .env.production | cut -d '=' -f2) \
          -t sondiec121/fe:v1 .

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Push Docker image
        run: docker push sondiec121/fe:v1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          password: ${{ secrets.HOST_PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
            docker pull sondiec121/fe:v1
            docker stop fe || true
            docker rm fe || true
            docker run -d --name fe -p 3000:80 --restart unless-stopped sondiec121/fe:v1
